In [25]:
import pandas as pd
import numpy as np

# **Pandas 套件有四種常用函數或方法能夠協助使用者合併不同資料源**
# **pd.concat()**
# **df.append()**
# **pd.merge()**
# **df.join()**

In [38]:
upper_df = pd.DataFrame()
lower_df = pd.DataFrame()
upper_df["character"] = ["Rachel Green", "Monica Geller", "Phoebe Buffay"]
upper_df["cast"] = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow"]
lower_df["character"] = ["Joey Tribbiani", "Chandler Bing", "Ross Geller"]
lower_df["cast"] = ["Matt LeBlanc", "Matthew Perry", "David Schwimmer"]

In [40]:
print(upper_df)
print('*'*30)
print(lower_df)

       character              cast
0   Rachel Green  Jennifer Aniston
1  Monica Geller     Courteney Cox
2  Phoebe Buffay       Lisa Kudrow
******************************
        character             cast
0  Joey Tribbiani     Matt LeBlanc
1   Chandler Bing    Matthew Perry
2     Ross Geller  David Schwimmer

In [43]:
pd.concat([upper_df,lower_df]).reset_index(drop=True) #concat後reset index 後再drop

        character              cast
0    Rachel Green  Jennifer Aniston
1   Monica Geller     Courteney Cox
2   Phoebe Buffay       Lisa Kudrow
3  Joey Tribbiani      Matt LeBlanc
4   Chandler Bing     Matthew Perry
5     Ross Geller   David Schwimmer

## 指定參數 axis=1 則為水平合併

In [44]:
left_df = pd.DataFrame()
right_df = pd.DataFrame()
left_df["character"] = ["Rachel Green", "Monica Geller", "Phoebe Buffay", "Joey Tribbiani", "Chandler Bing", "Ross Geller"]
right_df["cast"] = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]

In [47]:
print(left_df)
print(right_df)

print(pd.concat([left_df, right_df],axis = 1))

        character
0    Rachel Green
1   Monica Geller
2   Phoebe Buffay
3  Joey Tribbiani
4   Chandler Bing
5     Ross Geller
               cast
0  Jennifer Aniston
1     Courteney Cox
2       Lisa Kudrow
3      Matt LeBlanc
4     Matthew Perry
5   David Schwimmer
        character              cast
0    Rachel Green  Jennifer Aniston
1   Monica Geller     Courteney Cox
2   Phoebe Buffay       Lisa Kudrow
3  Joey Tribbiani      Matt LeBlanc
4   Chandler Bing     Matthew Perry
5     Ross Geller   David Schwimmer

# **垂直合併 df.append()**

In [49]:
upper_df = pd.DataFrame()
lower_df = pd.DataFrame()
upper_df["character"] = ["Rachel Green", "Monica Geller", "Phoebe Buffay"]
upper_df["cast"] = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow"]
lower_df["character"] = ["Joey Tribbiani", "Chandler Bing", "Ross Geller"]
lower_df["cast"] = ["Matt LeBlanc", "Matthew Perry", "David Schwimmer"]

In [51]:
print("Upper df:")
print(upper_df)
print("Lower df:")
print(lower_df)
print("Concatenated vertically using append method:")
upper_df.append(lower_df, ignore_index=True)

Upper df:
       character              cast
0   Rachel Green  Jennifer Aniston
1  Monica Geller     Courteney Cox
2  Phoebe Buffay       Lisa Kudrow
Lower df:
        character             cast
0  Joey Tribbiani     Matt LeBlanc
1   Chandler Bing    Matthew Perry
2     Ross Geller  David Schwimmer
Concatenated vertically using append method:

        character              cast
0    Rachel Green  Jennifer Aniston
1   Monica Geller     Courteney Cox
2   Phoebe Buffay       Lisa Kudrow
3  Joey Tribbiani      Matt LeBlanc
4   Chandler Bing     Matthew Perry
5     Ross Geller   David Schwimmer

# 聯結 pd.merge()
在 Pandas 中若想要高效能操作類似關聯式資料庫表格聯結和合併，主要的實踐函數是 pd.merge() ，她沿用關聯式資料庫的正規法則 Relational Algebra，實踐正規法則所規範四種基礎聯結

一對一聯結（one-to-one）
一對多聯結（one-to-many）
多對一聯結（many-to-one）
多對多聯結（many-to-many） **bold text**

In [57]:
#一對一聯結（one-to-one）
left_df = pd.DataFrame()
right_df = pd.DataFrame()
left_df["title"] = ["The Avengers", "Avengers: Age of Ultron", "Avengers: Infinity War", "Avengers: Endgame"]
left_df["release_year"] = [2012, 2015, 2018, 2019]
right_df["title"] = ["Avengers: Infinity War", "Avengers: Endgame", "The Avengers", "Avengers: Age of Ultron"]
right_df["rating"] = [8.5, 8.6, 8.5, 7.3]
print(left_df)
print('-'*50)
print(right_df)
print('-'*50)
print(pd.merge(left_df, right_df))

#注意看left跟right的欄位title順序並不一樣 merge非簡單合併，簡單合併不管參照有沒有正確只管合併
#使用merge會對參照值是否相同才去做合併 它會自動偵測兩個df有沒有相同的coulmns名稱 如果有就會用這個當參照欄位

                     title  release_year
0             The Avengers          2012
1  Avengers: Age of Ultron          2015
2   Avengers: Infinity War          2018
3        Avengers: Endgame          2019
--------------------------------------------------
                     title  rating
0   Avengers: Infinity War     8.5
1        Avengers: Endgame     8.6
2             The Avengers     8.5
3  Avengers: Age of Ultron     7.3
--------------------------------------------------
                     title  release_year  rating
0             The Avengers          2012     8.5
1  Avengers: Age of Ultron          2015     7.3
2   Avengers: Infinity War          2018     8.5
3        Avengers: Endgame          2019     8.6

## **#一對多聯結（one-to-many）**

In [58]:
#一對多聯結（one-to-many）
left_df = pd.DataFrame()
right_df = pd.DataFrame()
left_df["title"] = ["The Avengers"]
left_df["release_year"] = [2012]
right_df["title"] = ["The Avengers", "The Avengers", "The Avengers"]
right_df["genre"] = ["Action", "Adventure", "Sci-Fi"]
print(left_df)
print('-'*50)
print(right_df)
print('-'*50)
print(pd.merge(left_df, right_df))

          title  release_year
0  The Avengers          2012
--------------------------------------------------
          title      genre
0  The Avengers     Action
1  The Avengers  Adventure
2  The Avengers     Sci-Fi
--------------------------------------------------
          title  release_year      genre
0  The Avengers          2012     Action
1  The Avengers          2012  Adventure
2  The Avengers          2012     Sci-Fi

# **#多對多聯結（many-to-many）**

In [59]:
left_df = pd.DataFrame()
right_df = pd.DataFrame()
left_df["title"] = ["The Avengers", "The Avengers", "The Avengers"]
left_df["genre"] = ["Action", "Adventure", "Sci-Fi"]
right_df["title"] = ["The Avengers"]*6
right_df["avengers"] = ["Ironman", "Captain America", "The Hulk", "Thor", "Black Widow", "Hawkeye"]
print(left_df)
print('-'*50)
print(right_df)
print('-'*50)
print(pd.merge(left_df, right_df))

          title      genre
0  The Avengers     Action
1  The Avengers  Adventure
2  The Avengers     Sci-Fi
--------------------------------------------------
          title         avengers
0  The Avengers          Ironman
1  The Avengers  Captain America
2  The Avengers         The Hulk
3  The Avengers             Thor
4  The Avengers      Black Widow
5  The Avengers          Hawkeye
--------------------------------------------------
           title      genre         avengers
0   The Avengers     Action          Ironman
1   The Avengers     Action  Captain America
2   The Avengers     Action         The Hulk
3   The Avengers     Action             Thor
4   The Avengers     Action      Black Widow
5   The Avengers     Action          Hawkeye
6   The Avengers  Adventure          Ironman
7   The Avengers  Adventure  Captain America
8   The Avengers  Adventure         The Hulk
9   The Avengers  Adventure             Thor
10  The Avengers  Adventure      Black Widow
11  The Avengers  Adventure          Hawkeye
12  The Avengers     Sci-Fi          Ironman
13  The Avengers     Sci-Fi  Captain America
14  The Avengers     Sci-Fi         The Hulk
15  The Avengers     Sci-Fi             Thor
16  The Avengers     Sci-Fi      Black Widow
17  The Avengers     Sci-Fi          Hawkeye

# **加入 left_on 與 right_on 參數指定要用哪些變數進行聯結的對照依據**

In [66]:
left_df = pd.DataFrame()
right_df = pd.DataFrame()
left_df["title"] = ["The Avengers", "Avengers: Age of Ultron", "Avengers: Infinity War", "Avengers: Endgame"]
left_df["release_year"] = [2012, 2015, 2018, 2019]
right_df["movie_name"] = ["Avengers: Infinity War", "Avengers: Endgame", "The Avengers", "Avengers: Age of Ultron"]
right_df["rating"] = [8.5, 8.6, 8.5, 7.3]
print(left_df)
print('-'*50)
print(right_df)
print('-'*50)
#pd.merge(left_df, ritght_df) ---->這樣會出現error 因為沒有相同名稱的參照物 要用下面寫法
data_movie = pd.merge(left_df, right_df, left_on="title", right_on="movie_name")
print(data_movie)

#結果會有兩個 title跟movie_name

                     title  release_year
0             The Avengers          2012
1  Avengers: Age of Ultron          2015
2   Avengers: Infinity War          2018
3        Avengers: Endgame          2019
--------------------------------------------------
                movie_name  rating
0   Avengers: Infinity War     8.5
1        Avengers: Endgame     8.6
2             The Avengers     8.5
3  Avengers: Age of Ultron     7.3
--------------------------------------------------
                     title  release_year               movie_name  rating
0             The Avengers          2012             The Avengers     8.5
1  Avengers: Age of Ultron          2015  Avengers: Age of Ultron     7.3
2   Avengers: Infinity War          2018   Avengers: Infinity War     8.5
3        Avengers: Endgame          2019        Avengers: Endgame     8.6

In [70]:
data_movie = data_movie.drop('movie_name',axis = 1)
print(data_movie)

                     title  release_year  rating
0             The Avengers          2012     8.5
1  Avengers: Age of Ultron          2015     7.3
2   Avengers: Infinity War          2018     8.5
3        Avengers: Endgame          2019     8.6

# **加入 how 參數則可以指定聯結後的資料框要採用交集（預設）、以左邊資料框存在的觀測值為主、以右邊資料框存在的觀測值為主或聯集**

In [71]:
#交集（預設）
left_df = pd.DataFrame()
right_df = pd.DataFrame()
left_df["title"] = ["The Avengers", "Avengers: Age of Ultron", "Avengers: Infinity War"]
left_df["release_year"] = [2012, 2015, 2018]
right_df["title"] = ["Avengers: Infinity War", "Avengers: Endgame", "Avengers: Age of Ultron"]
right_df["rating"] = [8.5, 8.6, 7.3]
print(left_df)
print('-'*50)
print(right_df)
print('-'*50)
print("Inner join:")
print(pd.merge(left_df, right_df)) #how ='inner'為預設

                     title  release_year
0             The Avengers          2012
1  Avengers: Age of Ultron          2015
2   Avengers: Infinity War          2018
--------------------------------------------------
                     title  rating
0   Avengers: Infinity War     8.5
1        Avengers: Endgame     8.6
2  Avengers: Age of Ultron     7.3
--------------------------------------------------
Inner join:
                     title  release_year  rating
0  Avengers: Age of Ultron          2015     7.3
1   Avengers: Infinity War          2018     8.5

In [72]:
#以左邊資料框存在的觀測值為主
left_df = pd.DataFrame()
right_df = pd.DataFrame()
left_df["title"] = ["The Avengers", "Avengers: Age of Ultron", "Avengers: Infinity War"]
left_df["release_year"] = [2012, 2015, 2018]
right_df["title"] = ["Avengers: Infinity War", "Avengers: Endgame", "Avengers: Age of Ultron"]
right_df["rating"] = [8.5, 8.6, 7.3]
print(left_df)
print('-'*50)
print(right_df)
print('-'*50)
print("Left join:")
print(pd.merge(left_df, right_df, how="left"))

                     title  release_year
0             The Avengers          2012
1  Avengers: Age of Ultron          2015
2   Avengers: Infinity War          2018
--------------------------------------------------
                     title  rating
0   Avengers: Infinity War     8.5
1        Avengers: Endgame     8.6
2  Avengers: Age of Ultron     7.3
--------------------------------------------------
Left join:
                     title  release_year  rating
0             The Avengers          2012     NaN
1  Avengers: Age of Ultron          2015     7.3
2   Avengers: Infinity War          2018     8.5

In [73]:
#以左邊資料框存在的觀測值為主
left_df = pd.DataFrame()
right_df = pd.DataFrame()
left_df["title"] = ["The Avengers", "Avengers: Age of Ultron", "Avengers: Infinity War"]
left_df["release_year"] = [2012, 2015, 2018]
right_df["title"] = ["Avengers: Infinity War", "Avengers: Endgame", "Avengers: Age of Ultron"]
right_df["rating"] = [8.5, 8.6, 7.3]
print(left_df)
print('-'*50)
print(right_df)
print('-'*50)
print("Left join:")
print(pd.merge(left_df, right_df, how="right"))

                     title  release_year
0             The Avengers          2012
1  Avengers: Age of Ultron          2015
2   Avengers: Infinity War          2018
--------------------------------------------------
                     title  rating
0   Avengers: Infinity War     8.5
1        Avengers: Endgame     8.6
2  Avengers: Age of Ultron     7.3
--------------------------------------------------
Left join:
                     title  release_year  rating
0   Avengers: Infinity War        2018.0     8.5
1        Avengers: Endgame           NaN     8.6
2  Avengers: Age of Ultron        2015.0     7.3

In [74]:
#聯集
left_df = pd.DataFrame()
right_df = pd.DataFrame()
left_df["title"] = ["The Avengers", "Avengers: Age of Ultron", "Avengers: Infinity War"]
left_df["release_year"] = [2012, 2015, 2018]
right_df["title"] = ["Avengers: Infinity War", "Avengers: Endgame", "Avengers: Age of Ultron"]
right_df["rating"] = [8.5, 8.6, 7.3]
print(left_df)
print('-'*50)
print(right_df)
print('-'*50)
print("Left join:")
print(pd.merge(left_df, right_df, how="outer"))

                     title  release_year
0             The Avengers          2012
1  Avengers: Age of Ultron          2015
2   Avengers: Infinity War          2018
--------------------------------------------------
                     title  rating
0   Avengers: Infinity War     8.5
1        Avengers: Endgame     8.6
2  Avengers: Age of Ultron     7.3
--------------------------------------------------
Left join:
                     title  release_year  rating
0             The Avengers        2012.0     NaN
1  Avengers: Age of Ultron        2015.0     7.3
2   Avengers: Infinity War        2018.0     8.5
3        Avengers: Endgame           NaN     8.6

# **用列索引聯結 df.join()**

merge是用欄索引，看column哪個名稱一樣去做索引join則是使用列索引

In [75]:
left_df = pd.DataFrame()
right_df = pd.DataFrame()
left_df["title"] = ["The Avengers", "Avengers: Age of Ultron", "Avengers: Infinity War", "Avengers: Endgame"]
left_df["release_year"] = [2012, 2015, 2018, 2019]
right_df["title"] = ["Avengers: Infinity War", "Avengers: Endgame", "The Avengers", "Avengers: Age of Ultron"]
right_df["rating"] = [8.5, 8.6, 8.5, 7.3]
left_df = left_df.set_index("title")
right_df = right_df.set_index("title")
print(left_df)
print('-'*50)
print(right_df)
print('-'*50)
print(left_df.join(right_df))

                         release_year
title
The Avengers                     2012
Avengers: Age of Ultron          2015
Avengers: Infinity War           2018
Avengers: Endgame                2019
--------------------------------------------------
                         rating
title
Avengers: Infinity War      8.5
Avengers: Endgame           8.6
The Avengers                8.5
Avengers: Age of Ultron     7.3
--------------------------------------------------
                         release_year  rating
title
The Avengers                     2012     8.5
Avengers: Age of Ultron          2015     7.3
Avengers: Infinity War           2018     8.5
Avengers: Endgame                2019     8.6