In [77]:
import pandas as pd
import numpy as np

df = pd.read_csv("https://python4ds.s3-ap-northeast-1.amazonaws.com/olympics.csv", index_col=0)
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [24]:
# summer 13次夏季奧運的獲獎狀況
# 金 銀 銅 全部

#winter 冬奧
#冬奧獎牌狀況

#games 總共參加幾場 以及冬奧夏奧運的總和

In [29]:

print(df.describe())
df.shape

         # Summer        Gold      Silver      Bronze        Total  \
count  146.000000  146.000000  146.000000  146.000000   146.000000
mean    13.383562   32.938356   32.705479   35.136986   100.780822
std      7.006657   96.745184   80.648421   77.118416   252.700436
min      1.000000    0.000000    0.000000    0.000000     0.000000
25%      8.000000    0.000000    1.000000    1.000000     2.000000
50%     13.000000    3.000000    4.000000    6.000000    12.000000
75%     18.000000   23.000000   26.750000   28.750000    85.250000
max     27.000000  976.000000  757.000000  666.000000  2399.000000

         # Winter      Gold.1    Silver.1    Bronze.1     Total.1     # Games  \
count  146.000000  146.000000  146.000000  146.000000  146.000000  146.000000
mean     6.595890    6.568493    6.561644    6.493151   19.623288   19.979452
std      7.349012   18.975086   18.606996   17.499654   54.640914   13.084062
min      0.000000    0.000000    0.000000    0.000000    0.000000    1.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000   11.000000
50%      5.000000    0.000000    0.000000    0.000000    0.000000   15.000000
75%     10.000000    0.750000    1.750000    1.000000    4.750000   26.000000
max     22.000000  118.000000  111.000000  100.000000  329.000000   49.000000

            Gold.2    Silver.2    Bronze.2  Combined total
count   146.000000  146.000000  146.000000      146.000000
mean     39.506849   39.267123   41.630137      120.404110
std     109.932471   93.984393   89.826117      291.988913
min       0.000000    0.000000    0.000000        1.000000
25%       0.000000    1.000000    1.000000        2.250000
50%       3.000000    4.000000    6.500000       12.000000
75%      24.500000   28.000000   29.000000       87.750000
max    1072.000000  859.000000  750.000000     2681.000000

(146, 16)

In [55]:
# Q1 哪個國家贏得夏季奧運金牌數最多

df[df['Gold'] == df['Gold'].max()]


def answer_one(df):
  return df[df['Gold'] == df['Gold'].max()].index

answer_one(df)

Empty DataFrame
Columns: [# Summer, Gold, Silver, Bronze, Total, # Winter, Gold.1, Silver.1, Bronze.1, Total.1, # Games, Gold.2, Silver.2, Bronze.2, Combined total, ID, gold_diff]
Index: []

In [57]:
# Q2 哪個國家夏季奧運和冬季奧運金牌數差距最大

#max的Gold-Gold.2

def answer_two(df):
  df['gold_diff'] = abs(df['Gold.1'] - df['Gold'])
  return df['gold_diff'].idxmax()

answer_two(df)

'United States'

In [80]:
#Q3 哪個國家夏季奧運與冬季奧運的金牌數差距除以總金牌數的比例最大？ (僅考慮至少有一個夏季金牌與一個冬季金牌的國家)

df = df[df['Gold'] != 0]
df = df[df['Gold.1'] != 0]
df.shape

df['gold_ratio'] = abs(df['Gold.1'] - df['Gold']) / df['Gold.2']
df['gold_ratio'].idxmax()
df.loc['Bulgaria']

# Summer                19
Gold                    51
Silver                  85
Bronze                  78
Total                  214
# Winter                19
Gold.1                   1
Silver.1                 2
Bronze.1                 3
Total.1                  6
# Games                 38
Gold.2                  52
Silver.2                87
Bronze.2                81
Combined total         220
ID                     BUL
gold_ratio        0.961538
Name: Bulgaria, dtype: object

In [84]:
#Q4 計算146個國家的獎牌點數，金牌3點，銀牌2點、銅牌1點

def answer_four(df):
  df['total_score'] = df['Gold.2']*3 + df['Silver.2']*2 + df['Bronze.2']*1
  return df
answer_four(df)
print('最高分的是',df['total_score'].max())
print('最高分的國家是',df['total_score'].idxmax())
print('最低分的是',df['total_score'].min())
print('最低分的國家是',df['total_score'].idxmin())

最高分的是 5684
最高分的國家是 United States
最低分的是 38
最低分的國家是 Uzbekistan